
:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
  --font-family: 'Chakra Petch', sans-serif;
  

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body{
  background-color: var(--backgrond);
  color: var(--text-color);
  
}
nav{
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
ul{
  list-style: none;
  padding: 0;
  list-style-type: none;
  list
}
nav, ul{
  display: flex;
  flex-direction: row;
}
li{
  padding: 0 20px;

}
a{
  text-decoration: none;
  color: var(--text-color);
  
}
a:hover{
  color: var(--button);
  cursor: pointer;
  opacity: 0.8;
}

.btn-coffee{
  border: 1px solid var(--button);
  justify-content: center;
  width: 10rem;
  padding: 10px;
  text-align: center;
  font-size:12px ;
  color: var(--text-color);
  background-color: black;
  border-radius: 5px;
  
}
 .btn-coffee a:hove{
   background-color: var(--button);
 }
.title {
    margin: 5rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color);
  }
 .title h1 span {
    color: var(--backgrond);
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
      -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  }










  
  
  
  
  

  
  






